* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:url(https://plus.unsplash.com/premium_photo-1690749740487-01bbb8e51e71?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlJTIwcGljdHVyZXxlbnwwfHwwfHx8MA%3D%3D);
}

.container {
    width: 400px;
    padding: 20px;
}

.form {
    background:blueviolet;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5f1515;
}

.form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.form input,
.form select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
}

.form input:focus,
.form select:focus {
    border-color: #007bff;
}

button {
    width: 100%;
    background: #007bff;
    color:rgb(7, 7, 7);
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: wheat;
}
