@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-gray-200;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-white;
  }
}

.glass-panel {
    background: rgba(31, 41, 55, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
